.container{
   
    
}
.product-container{
    padding: 5px;  
}
.top-product-details{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.flex-left{
    flex:0.50;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 5%;
}
.product-image{
    width: 90%;
    object-fit: contain;

}

.flex-right{
 flex:1;
 border: 1px solid grey;
 border-radius: 6px;
 padding: 10px;


}
#variables{
    margin-right: 10px;
    font-weight: 600;
}
#single-ratings{
    margin-bottom: px;

}
#price{
    font-size: 18px;
    font-weight: 500;
    color: #4141de;
}
#old-price{
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: line-through;
    color: red;
}
#quantity{
    width:150px;
    height: 25px;
    border-radius: 3px;

}
.enable-flex{
    display: flex;
    justify-content: center;
}
.add_to_list{
	width:150px;
    margin-right:15px ;
	height: 40px;
	background-color: #ae00ff;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 6px;
	margin-bottom: 15px;
    cursor: pointer;
	outline: none;
}
.product-add_to_cart{
	width: 60%;
	height: 40px;
	background-color: blue;
	font-weight: 600;
	margin-top: 20px;
	border-radius: 6px;
	margin-bottom: 15px;
    cursor: pointer;
	outline: none;
}
#discription{
    white-space: pre-line;
}
.icon--lock {
    width: 18px;
    height: 24px;
}
.bottom-product-details{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.review-title{
    text-align: center;
    margin-top: 50px;
}
.user-review{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 30%;
}
.review-head{
 display: flex;
 align-items: center;
}
.reviews-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: contain;

}
#name{
    font-weight: bold;
  
}
#stars{
    font-size: 18px;
    font-weight: 900;
    color: gold;
}
#date{
    color: rgb(172, 167, 167);
}


@media (max-width: 600px) {
    .bottom-product-details{
        display: block;
    }
    .review-title h1
    {font-size: 20px;}
    .review-title h3
    {font-size: 17px;}
    
 }
 
 @media (max-width:700px) {
   .top-product-details{
	 display: block;
     margin: 0 20px;
   }
   .user-review{
        width: 90%;
        margin: auto;
    }
 }